body {
  background-image: url("../images/code.jpg");
  background-size: auto;
}
.container {
  opacity: 0.3;
}
.container, .panel, .panel-heading {
  position: relative;
}
#question, .panel-heading {
  font-size: 24px;
}
.glyphicon-time, #remaining-time {
  color: #fff31a;
}
.page-header {
  margin-bottom: 10px;
}
.page-header h1 {
  color: #0654d8;
  text-shadow: 1px 1px 2px yellow, 0 0 25px #ffc83f, 0 0 5px #8b8628;
}
pre {
  font-size: 1.1em;
  padding: 0 10px;
  font-weight: bold;
  margin-bottom: 0;
  background-color: #2b303b;
}
pre.rounded {
  border-radius: 10px;
}
#time-bar {
  width: 0;
}
.progress {
  margin-top: 15px;
}

#multiple-box {
  margin-top: 20px;
}
#correct-msg, #wrong-msg {
  display: none;
  z-index: 100;
  background-size: contain;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
#correct-msg {
  background-image: url("../images/approved-151676_640.png");
}
#wrong-msg {
  background-image: url("../images/error-24842_640.png");
}
#js-image {
  background-image: url("../images/js.png");
  background-size: contain;
  z-index: 1;
  width: 80px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.glyphicon-remove {
  color: red;
  margin-left: 80px;
}
.glyphicon-ok {
  color: green;
}
#start-ui {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 0 15px 15px 15px;
}
#game-end {
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  padding: 20px;
  background-color: #fff0e0;
}
#game-end img {
  width: 300px;
  height: 300px;
}
#game-end h2 {
  color: #337ab7;
}
.source p {
  text-shadow: 1px 1px 2px yellow, 0 0 25px #ffc83f, 0 0 5px #8b8628;
}